* {
    margin: 0;
    padding: 0;
  }
  #testOne {
    width: 100%;
    height: 100%;

    #one {
      width: 400px;
      height: 400px;

    }
    #two{
      width: 400px;
      height: 400px;

    }
    #thre{
      width: 1000px;
      height: 400px;
    }
    #four{
      width: 1000px;
      height: 400px;
    }
    #five{
      width: 1000px;
      height: 800px;
    }
  }